{% extends "layout.html" %}

{% block title %}
    Asset Turnover
{% endblock %}

{% block main %}
    <style>
        p {
        text-align: left;
        }
    </style>

    <div class="container">
        {% if ratio %}
        <h1>Asset Turnover Ratio:</h1>
        <h1>{{ net_asset | usd }} / {{ total_asset | usd }} = {{ ratio | two_dec }}</h1>
        {% elif x %}
        <h1>Asset Turnover Ratio: <span class="text-danger"> at least one of the fields is missing. </span></h1>
        {% else %}
        <h1>Asset Turnover Ratio</h1>
        {% endif %}
        <br><br>
        <div class="row">
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Modify the value and click calculate</h4>
                <form action="/asset_turnover" method="post" class="p-3 mb-2 bg-secondary text-white">
                    <div class="form-group input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Net Sales ($)</span>
                        </div>
                        <input autocomplete="off" autofocus class="form-control" name="net_asset" placeholder="Net Sales" type="number" min="0" step="any">
                    </div>
                    <div class="form-group float-left input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Average Total Asset ($)</span>
                        </div>
                        <input autocomplete="off" autofocus class="form-control" name="total_asset" placeholder="Average Total Asset" type="number" min="0" step="any">
                    </div>
                    <br><br>
                    <button class="btn btn-primary center" type="submit">Calculate</button>
                </form>
                <br>
                <img src="https://www.investopedia.com/thmb/fB14hmqrSGkAlJK2J28G-hOwU2s=/6251x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/dotdash_Final_Asset_Turnover_Ratio_Aug_2020-03-c36b34f0f73c4529bbfeaeee335d33d0.jpg">
                <br></br>
                <p>For example, from the table, Verizon turns over its assets at a faster rate than AT&T. For every dollar in assets, Walmart generated $2.30 in sales, while Target generated $1.79. Target's turnover may indicate that the retail company was experiencing sluggish sales or holding obsolete inventory. Furthermore, its low turnover may also mean that the company has lax collection methods. The firm's collection period may be too long, leading to higher accounts receivable. Target could also not be using its assets efficiently: fixed assets such as property or equipment could be sitting idle or not being utilized to their full capacity.</p>
            </div>
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Example of How to Use the Asset Turnover Ratio</h4>
                <p>Let's calculate the asset turnover ratio for four companies in the retail and telecommunication-utilities sectors—Walmart Inc. (WMT) (FY2017),Target Corporation (TGT), AT&T Inc. (T), and Verizon Communications Inc. (VZ)—for the fiscal year ended 2016.</p>
                <p>AT&T and Verizon have asset turnover ratios of less than one, which is typical for firms in the telecommunications-utilities sector. Since these companies have large asset bases, it is expected that they would slowly turn over their assets through sales. Clearly, it would not make sense to compare the asset turnover ratios for Walmart and AT&T, since they operate in very different industries. But comparing the asset turnover ratios for AT&T and Verizon may provide a better estimate of which company is using assets more efficiently.</p>
            </div>
        </div>
    </div>
{% endblock %}