{% extends "layout.html" %}

{% block title %}
    Asset Turnover
{% endblock %}

{% block main %}
    <style>
        p {
        text-align: left;
        }
    </style>

    <div class="container">
        {% if ratio %}
        <h1>Average Collection Period:</h1>
        <h1>{{ account_receivables | usd }} / ( {{ annual_credit_sales | usd }} / 365 )= {{ ratio | two_dec }} days</h1>
        {% elif x %}
        <h1>Average Collection Period: <span class="text-danger"> at least one of the fields is missing. </span></h1>
        {% else %}
        <h1>Average Collection Period</h1>
        {% endif %}
        <br><br>
        <div class="row">
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Modify the value and click calculate</h4>
                <form action="/avg_collection" method="post" class="p-3 mb-2 bg-secondary text-white">
                    <div class="form-group input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Account Receivables ($)</span>
                        </div>
                        <input step="any" autocomplete="off" autofocus class="form-control" name="account_receivables" placeholder="Account Receivables" type="number" min="0">
                    </div>
                    <div class="form-group float-left input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Annual Credit Sales ($)</span>
                        </div>
                        <input step="any" autocomplete="off" autofocus class="form-control" name="annual_credit_sales" placeholder="Annual Credit Sales" type="number" min="0">
                    </div>
                    <br><br>
                    <button class="btn btn-primary center" type="submit">Calculate</button>
                </form>
            </div>
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Example of an Average Collection Period</h4>
                <p>Let's say a company has an average accounts receivable balance for the year of $10,000. The total net sales the company recorded during this period was $100,000. So to calculate the average collection period, we use the following formula:</p>
                <br>
                <p>(($10,000 ÷ $100,000) x 365).</p>
                <br>
                <p>The average collection period, therefore, would be 36.5 days—not a bad figure, considering most companies collect within 30 days. Collecting its receivables in a relatively short—and reasonable—period of time gives the company time to pay off its obligations.</p>
                <br>
                <p>If this company's average collection period was longer—say more than 60 days, it would need to adopt a more aggressive collection policy to shorten that time frame.</p>
            </div>
        </div>
    </div>
{% endblock %}