{% extends "layout.html" %}

{% block title %}
    Debt Ratios
{% endblock %}

{% block main %}
<style>
    th, td {
      padding: 5px;
    }
    th, td {
      text-align: left;
    }
</style>


<div class="container">
    {% if ratio %}
    <h1>Ratio: {{ ratio | two_dec }}</h1>
    {% elif x %}
    <h1>Debt Ratios: <span class="text-danger"> at least one of the fields is missing. </span></h1>
    {% else %}
    <h1>Debt Ratios</h1>
    {% endif %}
    <br></br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Ratio/Term</th>
            <th scope="col">Formula</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#d_t_e">Debt to Equity Ratio</button>
            </td>
            <td>Total Liabilities / Shareholders Equity</td>
            <td>How much equity vs debt is being used to pay for assets.</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#debt_ratio">Debt Ratio</button>
            </td>
            <td>Total Liabilities / Total Assets</td>
            <td>Debt compared to assets.</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#d_s_c_r">Debt Service Coverage Ratio</button>
            </td>
            <td>Net Operating Income / Total Debt Service</td>
            <td>Cash available to pay off debt.</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#l_t_d_e_r">Long-Term Debt to Equity Ratio</button>
            </td>
            <td>Long-Term Liabilities / Equity</td>
            <td>Equity vs long-term debt.</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal: Debt to Equity Ratio -->

<div class="modal fade" id="d_t_e" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify the value and click calculate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/d_t_e" method="post">
                    <div class="form-group">
                        <label for="liability" class="col-sm-3 col-form-label">Total Liabilities:</label>
                        <input step="any" type="number" min="0" class="form-control" name="liability">
                    </div>
                    <div class="form-group">
                        <label for="equity" class="col-sm-3 col-form-label">Shareholders Equity:</label>
                        <input step="any" type="number" min="0" class="form-control" name="equity">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button step="any" type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Debt Ratio -->

<div class="modal fade" id="debt_ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify the value and click calculate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/debt_ratio" method="post">
                    <div class="form-group">
                        <label for="liability" class="col-sm-3 col-form-label">Total Liabilities:</label>
                        <input step="any" type="number" min="0" class="form-control" name="liability">
                    </div>
                    <div class="form-group">
                        <label for="asset" class="col-sm-3 col-form-label">Total Assets:</label>
                        <input step="any" type="number" min="0" class="form-control" name="asset">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Debt Service Coverage Ratio -->

<div class="modal fade" id="d_s_c_r" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify the value and click calculate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/d_s_c_r" method="post">
                    <div class="form-group">
                        <label for="noi" class="col-sm-3 col-form-label">Net Operating Income:</label>
                        <input step="any" type="number" min="0" class="form-control" name="noi">
                    </div>
                    <div class="form-group">
                        <label for="tds" class="col-sm-3 col-form-label">Total Debt Service:</label>
                        <input step="any" type="number" min="0" class="form-control" name="tds">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Long-Term Debt to Equity Ratio -->

<div class="modal fade" id="l_t_d_e_r" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify the value and click calculate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/l_t_d_e_r" method="post">
                    <div class="form-group">
                        <label for="l_t_l" class="col-sm-3 col-form-label">Long-Term Liabilities:</label>
                        <input step="any" type="number" min="0" class="form-control" name="l_t_l">
                    </div>
                    <div class="form-group">
                        <label for="equity" class="col-sm-3 col-form-label">Equity:</label>
                        <input step="any" type="number" min="0" class="form-control" name="equity">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}