{% extends "layout.html" %}

{% block title %}
    Depreciation
{% endblock %}

{% block main %}
<style>
    th, td {
      padding: 5px;
    }
    th, td {
      text-align: left;
    }
</style>


<div class="container">
    {% if ratio %}
    <h1>Answer: {{ ratio | usd }}</h1>
    {% elif x %}
    <h1>Depreciation: <span class="text-danger"> at least one of the fields is missing. </span></h1>
    {% else %}
    <h1>Depreciation</h1>
    {% endif %}
    <br></br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Ratio/Term</th>
            <th scope="col">Formula</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#book_value">Book Value</button>
            </td>
            <td>Acquisition Cost - Depreciation</td>
            <td>The value of an asset on a company's balance sheet.</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#declining_balance">Declining Balance</button>
            </td>
            <td>Depreciation Rate x Book Value at Beginning of Year</td>
            <td>Declining Balance, Reducing Balance, commonly used method of accelerated depreciation.</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sl_method">Straight-Line Method</button>
            </td>
            <td>(Cost of Fixed Asset - Residual Value) / Useful Life of Asset (in years)</td>
            <td>Easiest and most common method of depreciation.</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uo_prod">Units of Production</button>
            </td>
            <td>[(Cost of Asset - Redidual Value) / Estimated Total Production] x Actual Production</td>
            <td>Depreciation measured by how many units are produced.</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal: Book Value -->

<div class="modal fade" id="book_value" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify the value and click calculate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/book_value" method="post">
                    <div class="form-group">
                        <label for="ac" class="col-sm-3 col-form-label">Acquisition Cost:</label>
                        <input step="any" type="number" min="0" class="form-control" name="ac">
                    </div>
                    <div class="form-group">
                        <label for="depreciation" class="col-sm-3 col-form-label">Depreciation:</label>
                        <input step="any" type="number" min="0" class="form-control" name="depreciation">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Declining Balance -->

<div class="modal fade" id="declining_balance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify the value and click calculate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/declining_balance" method="post">
                    <div class="form-group">
                        <label for="dr" class="col-sm-5 col-form-label">Depreciation Rate:</label>
                        <input step="any" type="number" min="0" class="form-control" name="dr">
                    </div>
                    <div class="form-group">
                        <label for="book_value" class="col-sm-5 col-form-label">Book Value at Beginning of Year:</label>
                        <input step="any" type="number" min="0" class="form-control" name="book_value">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Straight-Line Method -->

<div class="modal fade" id="sl_method" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify the value and click calculate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/sl_method" method="post">
                    <div class="form-group">
                        <label for="coa" class="col-sm-4 col-form-label">Cost of Fixed Asset:</label>
                        <input step="any" type="number" min="0" class="form-control" name="coa">
                    </div>
                    <div class="form-group">
                        <label for="rv" class="col-sm-4 col-form-label">Redidual Value:</label>
                        <input step="any" type="number" min="0" class="form-control" name="rv">
                    </div>
                    <div class="form-group">
                        <label for="ula" class="col-sm-4 col-form-label">Useful Life of Asset:</label>
                        <input step="any" type="number" min="0" class="form-control" name="ula">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Units of Production -->

<div class="modal fade" id="uo_prod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify the value and click calculate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/uo_prod" method="post">
                    <div class="form-group">
                        <label for="coa" class="col-sm-5 col-form-label">Cost of Asset:</label>
                        <input step="any" type="number" min="0" class="form-control" name="coa">
                    </div>
                    <div class="form-group">
                        <label for="rv" class="col-sm-5 col-form-label">Redidual Value:</label>
                        <input step="any" type="number" min="0" class="form-control" name="rv">
                    </div>
                    <div class="form-group">
                        <label for="etp" class="col-sm-5 col-form-label">Estimated Total Production:</label>
                        <input step="any" type="number" min="0" class="form-control" name="etp">
                    </div>
                    <div class="form-group">
                        <label for="ap" class="col-sm-5 col-form-label">Actual Production:</label>
                        <input step="any" type="number" min="0" class="form-control" name="ap">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}