{% extends "layout.html" %}

{% block title %}
    Inventory Conversion Period
{% endblock %}

{% block main %}
    <style>
        p {
        text-align: left;
        }
    </style>

    <div class="container">
        {% if ratio %}
        <h1>Inventory Conversion Period:</h1>
        <h1>({{ inventory | usd }} / {{ cogs | usd }}) x 365 = {{ ratio | two_dec }} days</h1>
        {% elif x %}
        <h1>Inventory Conversion Period:<span class="text-danger"> at least one of the fields is missing. </span></h1>
        {% else %}
        <h1>Inventory Conversion Period</h1>
        {% endif %}
        <br><br>
        <div class="row">
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Modify the value and click calculate</h4>
                <form action="/inventory_conversion_period" method="post" class="p-3 mb-2 bg-secondary text-white">
                    <div class="form-group input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Inventory ($)</span>
                        </div>
                        <input step="any" autocomplete="off" autofocus class="form-control" name="inventory" placeholder="Inventory" type="number" min="0">
                    </div>
                    <div class="form-group float-left input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">COGS ($)</span>
                        </div>
                        <input step="any" autocomplete="off" autofocus class="form-control" name="cogs" placeholder="Cost of Goods Sold" type="number" min="0">
                    </div>
                    <br><br>
                    <button class="btn btn-primary center" type="submit">Calculate</button>
                </form>
            </div>
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Example of How to Use Inventory Conversion Period</h4>
                <p>Now, if the beginning inventory for the period is ​$35,000​ and the ending inventory is ​$40,000​, divide that ​$75,000​ by two to get an average inventory of ​$37,500​.</p>
                <p>Your cost of sales is ​$80,000​. Divide the ​$37,500​ average inventory by the cost of sales of ​$80,000​ to get 0.47. Multiply 0.47 by 365 to get approximately an inventory conversion period of 171.5 days.</p>
            </div>
        </div>
    </div>
{% endblock %}