{% extends "layout.html" %}

{% block title %}
    Inventory Turnover
{% endblock %}

{% block main %}
    <style>
        p {
        text-align: left;
        }
    </style>

    <div class="container">
        {% if ratio %}
        <h1>Inventory Turnover:</h1>
        <h1>{{ sales | usd }} / {{ avg_inventory | usd }}= {{ ratio | two_dec }}</h1>
        {% elif x %}
        <h1>Inventory Turnover: <span class="text-danger"> at least one of the fields is missing. </span></h1>
        {% else %}
        <h1>Inventory Turnover</h1>
        {% endif %}
        <br><br>
        <div class="row">
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Modify the value and click calculate</h4>
                <form action="/it" method="post" class="p-3 mb-2 bg-secondary text-white">
                    <div class="form-group input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Sales ($)</span>
                        </div>
                        <input step="any" autocomplete="off" autofocus class="form-control" name="sales" placeholder="Sales" type="number" min="0">
                    </div>
                    <div class="form-group float-left input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Average Inventory ($)</span>
                        </div>
                        <input step="any" autocomplete="off" autofocus class="form-control" name="avg_inventory" placeholder="Average Inventory" type="number" min="0">
                    </div>
                    <br><br>
                    <button class="btn btn-primary center" type="submit">Calculate</button>
                </form>
            </div>
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Example of How to Use Inventory Turnover</h4>
                <p>Assume Company ABC has $1 million in sales and $250,000 in COGS. The average inventory is $25,000. The company has an inventory turnover of 40 or $1 million divided by $25,000 in average inventory. In other words, within a year, Company ABC tends to turn over its inventory 40 times. Taking it a step further, dividing 365 days by the inventory turnover shows how many days on average it takes to sell its inventory, and in the case of Company ABC, it’s 9.1.</p>
                <p>Alternatively, using the other method—COGS / Average Inventory—the inventory turnover is 10, or $250,000 in COGS divided by $25,000 in inventory. Inventory is on hand for 36.5 days under this approach, or 365 / 10.</p>
                <p>As a real-life example, consider Wal-Mart Stores (WMT), which has generated $512 billion in sales and $308 billion over the trailing 12 months as of Feb. 2019. Its inventory during the most recent quarter was $50.4 billion. Wal-Mart’s inventory turnover using the sales figure is 10.2. Using COGS, its inventory turnover is 6.1.</p>
            </div>
        </div>
    </div>
{% endblock %}