{% extends "layout.html" %}

{% block title %}
    Receivables Turnover Ratio
{% endblock %}

{% block main %}
    <style>
        p {
        text-align: left;
        }
    </style>

    <div class="container">
        {% if ratio %}
        <h1>Receivables Turnover Ratio:</h1>
        <h1>{{ ncs | usd }} / {{ anr | usd }} = {{ ratio | two_dec }}</h1>
        {% elif x %}
        <h1>Receivables Turnover Ratio: <span class="text-danger"> at least one of the fields is missing. </span></h1>
        {% else %}
        <h1>Receivables Turnover Ratio</h1>
        {% endif %}
        <br><br>
        <div class="row">
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Modify the value and click calculate</h4>
                <form action="/rtr" method="post" class="p-3 mb-2 bg-secondary text-white">
                    <div class="form-group input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">NCS ($)</span>
                        </div>
                        <input step="any" autocomplete="off" autofocus class="form-control" name="ncs" placeholder="Net Credit Sales" type="number" min="0">
                    </div>
                    <div class="form-group float-left input-group mb-1 p-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">ANR ($)</span>
                        </div>
                        <input step="any" autocomplete="off" autofocus class="form-control" name="anr" placeholder="Average Net Receivables" type="number" min="0">
                    </div>
                    <br><br>
                    <button class="btn btn-primary center" type="submit">Calculate</button>
                </form>
            </div>
            <div class="col">
                <h4 class="p-2 mb-1 text-light bg-dark">Example of How to Use the Receivables Turnover Ratio</h4>
                <p>Let's say Company A had the following financial results for the year: net credit sales of $800,000; $64,000 in accounts receivables on Jan. 1 or the beginning of the year; $72,000 in accounts receivables on Dec. 31 or at the end of the year.</p>
                <p>ACR = ($64,000 + $72,000) / 2 = $68,000</p>
                <p>RTR = $800,000 / $68,000 = 11.76</p>
                <p>We can interpret the ratio to mean that Company A collected its receivables 11.76 times on average that year. In other words, the company converted its receivables to cash 11.76 times that year. A company could compare several years to ascertain whether 11.76 is an improvement or an indication of a slower collection process.</p>
                <p>A company could also determine the average duration of accounts receivable or the number of days it takes to collect them during the year. In our example above, we would divide 365 by 11.76 to arrive at the average duration. The average accounts receivable turnover in days would be 365 / 11.76, which is 31.04 days.</p>
                <p>For Company A, customers on average take 31 days to pay their receivables. If the company had a 30-day payment policy for its customers, the average accounts receivable turnover shows that, on average, customers are paying one day late.</p>
                <p>A company could improve its turnover ratio by making changes to its collection process. A company could also offer its customers discounts for paying early. Companies need to know their receivables turnover since it is directly tied to how much cash they'have available to pay their short-term liabilities.</p>
            </div>
        </div>
    </div>
{% endblock %}